<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobSync</title>
    <link rel="stylesheet" href="/css/jass/css">
    <link rel="stylesheet" href="/css/style/css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                <a href="">Super Cool Stuff Here</a>
            </h1>
        </header>
    </div>
</body>


</html>