<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Board!</title>
<style>
  .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-md-6 {
  width: 50%;
  padding: 0 15px;
}

.form {
  margin: 20px 0;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
}
</style>
</head>
<div class="row">
  <div class="col-md-6">

    
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
