<div>
    <h1>Job Submission Form</h1>
<form method="post" action="/submit-job">
  <div class="job-form">
    <label for="job-title">Job Title:</label>
    <input type="text" id="job-title" name="job-title" required>
  </div>
  <div class="job-form">
    <label for="job-description">Job Description:</label>
    <textarea id="job-description" name="job-description" required></textarea>
  </div>
  <div class="job-form">
    <label for="job-requirements">Job Requirements:</label>
    <textarea id="job-requirements" name="job-requirements" required></textarea>
  </div>
  <div class="job-form">
    <label for="job-salary">Job Salary:</label>
    <input id="job-salary" name="job-salary" required></textarea>
  </div>
  <div class="job-form">
    <label for="job-website">Website:</label>
    <input type="website" id="job-website" name="job-website" required>
  </div>
  <div class="job-form">
    <label for="job-created">Created At:</label>
    <input id="job-created" name="job-created" required></input>
  </div>
  <div class="job-form">
        <button class="btn btn-primary" type="submit">Submit Job Post</button>
      </div>
</form>
</div>












