<div>
    <h1>Job Submission Form</h1>
<form action="submit-job.php" method="post">
  <label for="job-title">Job Title:</label>
  <input type="text" id="job-title" name="job-title" required>
  
  <label for="job-description">Job Description:</label>
  <textarea id="job-description" name="job-description" required></textarea>

  <label for="job-requirements">Job Requirements:</label>
  <textarea id="job-requirements" name="job-requirements" required></textarea>

  <label for="job-salary">Job Salary:</label>
  <input id="job-salary" name="job-salary" required></textarea>
  
  <label for="job-website">Website:</label>
  <input type="website" id="job-website" name="job-website" required>

  <label for="job-created">Created At:</label>
  <input id="job-created" name="job-created" required></input>
  
  <input type="submit" value="Submit">
</form>
</div>
